@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
#menu-1 .navbar-toggler {
  color: #000;
}


#menu-2 .navbar-toggler {
  color: #000;
}
#content4-3 I {
  font-size: 36px;
  font-family: 'Roboto', sans-serif;
}
#content4-3 H4 {
  text-align: right;
}
#content4-3 P {
  text-align: center;
  font-size: 19px;
  font-family: 'Slabo 27px', serif;
  color: #0e4611;
}
