@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&subset=latin,vietnamese,latin-ext);

#header1-0 H1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
#header1-0 P {
  font-size: 32px;
}
#menu-5 .navbar-toggler {
  color: #000;
}
#menu-5 .nav-link {
  font-size: 23px;
}

#menu-5 .navbar-toggler {
  color: #000;
}
#menu-5 .nav-link {
  font-size: 23px;
}
#content5-k .mbr-section-title {
  text-align: center;
  font-family: 'Alegreya Sans', sans-serif;
}
#menu-7 .navbar-toggler {
  color: #000;
}
#menu-7 .nav-link {
  font-size: 23px;
}
#content5-e .mbr-section-title {
  text-align: center;
}
#content5-x .mbr-section-title {
  text-align: center;
}
#menu-o .navbar-toggler {
  color: #000;
}
#menu-o .nav-link {
  font-size: 23px;
}








#menu-r .navbar-toggler {
  color: #000;
}
#menu-r .nav-link {
  font-size: 23px;
}
#header3-s H3 {
  text-align: center;
  font-size: 46px;
  font-family: 'Alegreya Sans', sans-serif;
}
#header3-t H3 {
  font-size: 25px;
  font-family: 'Alegreya Sans', sans-serif;
}
#header3-t SMALL {
  font-size: 16px;
}
#header3-t I {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 25px;
}
#header3-t B {
  font-family: 'Alegreya Sans', sans-serif;
}
#header3-u H3 {
  font-size: 25px;
  font-family: 'Alegreya Sans', sans-serif;
}
#header3-u SMALL {
  font-size: 16px;
}
#header3-u B {
  font-family: 'Alegreya Sans', sans-serif;
}
#header3-v H3 {
  font-size: 25px;
  color: #000000;
  font-family: 'Alegreya Sans', sans-serif;
}
#header3-v SMALL {
  font-size: 16px;
}
#header3-v B {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 25px;
}
#menu-z .navbar-toggler {
  color: #000;
}
#menu-z .nav-link {
  font-size: 23px;
}
#content5-11 .mbr-section-title {
  text-align: center;
}
#menu-13 .navbar-toggler {
  color: #000;
}
#menu-13 .nav-link {
  font-size: 23px;
}
#content5-14 .mbr-section-title {
  text-align: center;
}
#menu-16 .navbar-toggler {
  color: #000;
}
#menu-16 .nav-link {
  font-size: 23px;
}
#content5-17 .mbr-section-title {
  text-align: center;
}

#menu-19 .navbar-toggler {
  color: #000;
}
#menu-19 .nav-link {
  font-size: 23px;
}
#header3-1a P {
  font-family: 'Alegreya Sans', sans-serif;
}

#menu-1b .navbar-toggler {
  color: #000;
}
#menu-1b .nav-link {
  font-size: 23px;
}
#header3-1c H3 {
  font-family: 'Alegreya Sans', sans-serif;
}
#menu-1d .navbar-toggler {
  color: #000;
}
#menu-1d .nav-link {
  font-size: 23px;
}
#content5-1i .mbr-section-title {
  text-align: center;
}
